In [1]:
print('hii')

hii

In [4]:
"""Variables & Data Types

What happens if you assign an int to a variable and then reassign a str to it?

Create one variable each of int, float, str, bool, list, tuple, and dict, and print both the value and its type()."""


a = 10
a = 'Ten'
print(type(a))

<class 'str'>

In [ ]:
"""Input / Output

Ask for two inputs (name and age) and print:
"My name is ___ and I am ___ years old." using both + concatenation and f-strings."""

name = str(input("Name : "))
age = int(input("Age : "))

my_name = "My name is "+name
my_age = "I am "+ str(age) + " years old"

f_print = f"{my_name} and {my_age}"

print(f_print)

My name is Ghost and I am 1051 years old

In [9]:
"""Type Casting

Take a numeric string "25" and make sure you can add 5 to it.

Then convert a float 12.8 to an integer ‚Äî note what happens to decimals."""

num_str = "25"
print(int(num_str) + 5)


flt = 12.8

print(f"It could be {int(flt)} or {round(flt)}")

30
It could be 12 or 13

In [29]:
"""Arithmetic & Print Formatting

Write one-liners for:

Celsius ‚Üí Fahrenheit

Simple interest (P*T*R/100)

Area of a circle using math.pi

Try formatting results to 2 decimal places."""

c = 41
print(f"{c}¬∞C to Fahrenheit would be {(c * 1.8) + 32}¬∞F.")


p = 5100
r = 3.74
t = 2/12
roi = p*t*r/100
print(f"Rate of interest for Rs.{p:,}/- with rate of interest of {r} for {t:.2f} months will be {roi:.2f} which makes total value as Rs.{(round(p+roi, 2)):,}/-.")

import math

radius = 70

print(f"Area of the circle with radius as {radius} mm will be {(round(math.pi * radius**2,2)):,} sq.mm to be accurate.")

41¬∞C to Fahrenheit would be 105.8¬∞F.
Rate of interest for Rs.5,100/- with rate of interest of 3.74 for 0.17 months will be 31.79 which makes total value as Rs.5,131.79/-.
Area of the circle with radius as 70 mm will be 15,393.8 sq.mm to be accurate.

In [48]:
"""Conditional Expression
Ask for a user's age.
If age < 18 ‚Üí print ‚ÄúMinor‚Äù;
If 18 ‚â§ age < 60 ‚Üí ‚ÄúAdult‚Äù;
Else ‚Üí ‚ÄúSenior Citizen‚Äù.
(Concept: if-elif-else, integer comparisons, clean indentation)"""

import random
age = random.randint(0,88)

if age < 18:
    print(age," : Minor")

elif 18<= age < 60:
    print(age," : Adult")

else:
    print(age," : Senior Citizen")

15  : Minor

In [53]:
"""Loop + Accumulation
Take an integer input n.
Print the sum of all even numbers from 1 to n.
(Concept: for loop, modulo operator %, running total)"""

n = 50

s = 0

for i in range(1,n+1):
    if i % 2 == 0:
        s += i

print(f"Sum of all even numbers from 1 to {n} is {s}.")

Sum of all even numbers from 1 to 50 is 650.

In [60]:
"""List + Basic Algorithm
Given a list of 5 integers entered by the user, print the maximum and minimum numbers manually (no max() or min() built-ins).
(Concept: iteration, condition checking, variable tracking)"""

nums = [int(x) for x in input("Enter 5 numbers separated by commas: ").split(',')]
mx = nums[0]
mn = nums[0]
for n in nums:
    if n > mx: mx = n
    if n < mn: mn = n
print(f"Max = {mx}, Min = {mn}")

Max = 500, Min = 5

In [6]:
"""üîπ Problem 1 ‚Äî LISTS (manual logic, no built-ins for solving)

Given:
scores = [45, 67, 89, 45, 67, 90, 89, 45]

You must:

Remove duplicates manually (no set()).

Sort them in descending order manually (no sorted()).

Print highest and lowest clearly.

Concepts: loops, compare, swap, dedupe logic."""


scores = [45, 67, 89, 45, 67, 90, 89, 45]

the_scores = []

for i in scores:
    if i in the_scores:
        pass
    else:
        the_scores.append(i)

print(the_scores)

for s in range(len(the_scores)):
    for t in range(s+1, len(the_scores)):
        if the_scores[t] > the_scores[s]:
            the_scores[s], the_scores[t] = the_scores[t], the_scores[s]

print(the_scores)

print(f"The highest element is {the_scores[0]} and the lowest element is {the_scores[-1]}")

[45, 67, 89, 90]
[90, 89, 67, 45]
The highest element is 90 and the lowest element is 45

In [15]:
"""Problem 2:
You are given a list of daily temperatures for a city:
temps = [30, 32, 29, 35, 40, 38, 28, 33]

You must do three tasks:
2.a ‚Üí Find the second highest temperature without sorting.
2.b ‚Üí Count how many days the temperature increased compared to the previous day.
2.c ‚Üí Create a new list that contains the difference between each consecutive day's temperatures (like ŒîTemp list)."""

temps = [30, 32, 29, 35, 40, 38, 28, 33]
highest = float("-inf")
higher = float("-inf")

for t in temps:
    if t > highest:
        higher = highest
        highest = t

    elif t > higher and t != highest:
        higher = t

print("Second highest temprature is : ",higher,".")

count = 0 
temp_diffs = []
for i in range(1,len(temps)):
    if temps[i] > temps[i-1]:
        count += 1
    temp_diffs.append(temps[i] - temps[i-1])
    
print(f"The temperature increased compared to the previous day {count} times.")

print(f"The differences between each consecutive day temperatures are {', '.join(map(str, temp_diffs[:-1]))} and {temp_diffs[-1]}.")

Second highest temprature is :  38 .
The temperature increased compared to the previous day 4 times.
The differences between each consecutive day temperatures are 2, -3, 6, 5, -2, -10 and 5.

In [31]:
"""Problem 3 ‚Äî ‚ÄúEmployee Salary Analyzer‚Äù
(Intermediate - clean loops, comparisons, simple math)

You are given a list of employee salaries (monthly, in ‚Çπ):
salaries = [28000, 45000, 32000, 45000, 60000, 29000, 60000, 31000]

You must do three tasks:

3.a ‚Üí Find the two lowest distinct salaries.
(No sorting allowed. No built-ins like min().)

3.b ‚Üí Count how many employees earn more than ‚Çπ40,000.
(Straightforward loop.)

3.c ‚Üí Create a new list where each value is the salary + 10% bonus.
(Bonus = salary * 0.10)"""

salaries = [28000, 45000, 32000, 45000, 60000, 29000, 60000, 31000]

one = float("inf")
two = float("inf")

for s in salaries:
    if s < one:
        two = one
        one = s

    elif s < two and s != one:
        two = s

print("the two lowest distinct salaries are : ",one,",", two)

count = 0

count = sum( s > 40000 for s in salaries)
print(count, ' employees earn more than ‚Çπ40,000.')

bonus = [f"{int(s+(s*.1)):,}" for s in salaries]

print(bonus)

the two lowest distinct salaries are :  28000 , 29000
4  employees earn more than ‚Çπ40,000.
['30,800', '49,500', '35,200', '49,500', '66,000', '31,900', '66,000', '34,100']

In [8]:
# BMI = weight (kg) / (height in meters)¬≤

weight = float(input("Please enter weight (kg): "))
height = float(input("Please enter height (m) : "))

print(f"Your BMI is {round(weight/(height**2), 2)}")

Your BMI is 28.89

In [16]:
# Convert seconds ‚Üí minutes and seconds

time_in_sec = 159 #int(input("time :" ))

minutes = time_in_sec // 60
seconds = time_in_sec % 60
print(f"{time_in_sec} seconds can also be called as {minutes} minutes and {seconds} seconds.")

import time

time_in_real = time.gmtime(time_in_sec) # CORRECTED LINE
mins = time_in_real.tm_min
secs = time_in_real.tm_sec

print(f"Python says, {time_in_sec} seconds can also be called as {mins} minutes and {secs} seconds.")

159 seconds can also be called as 2 minutes and 39 seconds.
Python says, 159 seconds can also be called as 2 minutes and 39 seconds.

In [ ]:
# Squared & Cubes

squares =[]
cubes = []

for num in range(11):
    squares.append(num**2)
    cubes.append(num**3)

print(f"Sqares till 10 are {', '.join(map(str, squares[:-1]))} and {squares[-1]}.")
print(f"Cubes till 10 are {', '.join(map(str, cubes[:-1]))} and {cubes[-1]}.")

Sqares till 10 are 0, 1, 4, 9, 16, 25, 36, 49, 64, 81 and 100.
Cubes till 10 are 0, 1, 8, 27, 64, 125, 216, 343, 512, 729 and 1000.

In [ ]:
# Km to miles 
 
km = 10 
to_miles = 1/1.6093

print(f"{km} kilometers is {(km*to_miles):.2f} miles.")

10 kilometers is 6.21 miles.

In [ ]:
# Age in days, months, seconds

age = 30

print(f"age in days : {age*365} days.")
print(f"Age in months : {age*12} months.")
print(f"Age in seconds : {age * 365 * 3600} seconds.")

age in days : 10950 days.
Age in months : 360 months
Age in seconds : 39420000 seconds

In [ ]:
# Exact age from date of birth

from datetime import date

dob_input = input("Enter DOB (YYYY-MM-DD): ")
y, m, d = map(int, dob_input.split('-'))
dob = date(y, m, d)
today = date.today()

# Calculate raw differences
years = today.year - dob.year
months = today.month - dob.month
days = today.day - dob.day

# Adjust if needed
if days < 0:
    months -= 1
    days += (date(today.year, today.month, 1) - date(today.year, today.month-1, 1)).days

if months < 0:
    years -= 1
    months += 12

print(f"Age: {years} years, {months} months, {days} days")

Age: 22 years, 11 months, 5 days

In [18]:
print((date(today.year, today.month, 1) - date(today.year, today.month-1, 1)).days + (-4))

27

In [8]:
print(type((date(today.year, today.month, 1) - date(today.year, today.month-1, 1))))

<class 'datetime.timedelta'>

In [ ]:
# Check odd or even
def even_or_odd(num):
    if num % 2== 0:
        print(f"{num} is an even number.")

    else:
        print(f"{num} is an odd number.")

try:
    num = int(input("Enter a number : "))
    even_or_odd(num)

except Exception as e:
    print(e)

49 is an odd number.

In [ ]:
# Check leap year

def is_leap_year(year):

    if year % 400 == 0 or year % 4 == 0 and year % 100 != 0:
        return True
    else:
        return False
    
try:
    year = int(input("Enter year : "))
    print(is_leap_year(year))

except Exception as e:
    print(e)

# Swap two numbers without third variable

False

In [35]:
# Max of 3 numbers

def big_of_three(a,b,c):
    if a >= b and a >= c:
        return a
    
    elif b >= a and b >= c:
        return b
    
    else: 
        return c
    
try:
    nums = input("Enter numbers as a,b,c : ")
    a,b,c = map(int, nums.split(","))
    print(f"Maximum number is : {big_of_three(a,b,c)}")

except Exception as e:
    print(e)

Maximum number is : 9

In [43]:
# Swap two numbers without third variable

def swap_em(a,b): # a=2 , b=3
    a = a + b # a=5
    b = a - b # b=2
    a = a - b # a=3
    return a,b
    
    
try:
    nums = input("Enter numbers as a,b : ")
    e,f = map(int, nums.split(","))
    swapped = swap_em(e,f)
    print(f"Original Pair : {e} & {f}.\nSwappped pair : {swapped[0]} & {swapped[1]}.")

except Exception as e:
    print(e)

Original Pair : 2 & 3.
Swappped pair : 3 & 2.

In [45]:
try:
    nums = input("Enter numbers as a,b : ")
    e,f = map(int, nums.split(","))
    print(f"Original Pair : {e} & {f}.")
    e,f = f,e
    print(f"Swappped pair : {e} & {f}.")

except Exception as e:
    print(e)

Original Pair : 2 & 3.
Swappped pair : 3 & 2.